{% extends "base.jinja" %}
{% block content %}
    <h1>BMW X1 2016</h1>
    <img src="https://vexgateway.fastly.carvana.io/executions/75684687/FLOOR_CLEANER/cleaned/clean_004.jpg?v=1682019250.073&dpr=1.25&optimize=low&width=2000" alt="BMW X1 2016" height="600">
{% endblock %}
