{% extends "base.jinja" %}
{% block content %}
    <h1>VOLKS WAGEN PASSAT 2018</h1>
    <img src="https://media.ed.edmunds-media.com/volkswagen/passat/2018/oem/2018_volkswagen_passat_sedan_r-line_fq_oem_1_1280x855.jpg" alt="Volks Wagen passat 2018" height="600">
{% endblock %}