{% extends "base.jinja" %}
{% block content %}
    <h1>VOLKS WAGEN TIGUAN 2018</h1>
    <img src="https://blogmedia.dealerfire.com/wp-content/uploads/sites/1045/2018/03/2018-Volkswagen-Tiguan-Platinum-Gray-Metallic_o.jpg" alt="Volk Wagen Tiguan 2018" height="600">
{% endblock %}
