{% extends "base.jinja" %}
{% block content %}
<body>
    <h1>My Cars Collection</h1>
    <div class="flex">
        <div>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque amet quas aspernatur esse rem eos officia libero facilis odio consequatur corrupti optio, facere quibusdam ut maiores hic repudiandae animi ex velit quisquam tenetur non! Laboriosam temporibus nulla esse alias minima, reiciendis, quaerat vel fugit aut, dolor voluptates dicta perspiciatis asperiores molestias minus id sint totam tempora neque illum soluta? Tenetur sapiente enim, quam omnis tempora similique quas modi cupiditate, atque molestias dolore ullam quisquam illum, inventore eius iste! Autem assumenda ex quae ipsum quod a quisquam excepturi dolorum eaque, placeat ipsa? Quia odio, iure at nobis quibusdam ipsum mollitia esse!</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus illo accusamus unde odio dolore ut enim expedita adipisci ex magnam, praesentium a provident excepturi, commodi eligendi. At, quibusdam. Perferendis, minima.</div>
    </div>

</body>
  
{% endblock %}
